out/
outputs/
inputs.
encodings/
val_encodings/
__pycache__/
psnr
train
weights
VSR
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.pth
*.npz
*.mp4
*.png
*.csv
.encodings/
.DS_Store
# flows_train/
# flows_val/