out/
outputs/
encodings/
val_encodings/
__pycache__/
inputs/
psnr
train
VSR
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.pth
*.npz
*.mp4
*.png
*.csv
.encodings/
.DS_Store
tools/
# flows_train/
# flows_val/